@use 'colors' as *;

.contact {
  padding: 1em;
  color: $snow;
  background-color: $raisin-black;

  &__header {
    font-size: var(--subpage-header-fontsize);
  }

  &__box {
    display: flex;
    flex-direction: column;
    margin-top: 1em;

    // border: 1px solid $firebrick;
    // border-radius: 8px;

    //padding: 1em;
  }

  &__img-box {
    border-radius: 8px;
    overflow: hidden;
  }

  &__img {
    width: 100%;
  }

  &__address-list {
    list-style: none;
    margin-top: 1em;
  }
  &__address-line {
    color: $light-gray;
    &--name {
      color: $firebrick;
      text-transform: uppercase;
      font-weight: 700;
      font-size: var(--bigger-text-fontsize);
    }
  }

  &__mail-link {
    color: $blue-munsell;

    &:active,
    &:visited {
      color: $blue-munsell;
    }
  }
}
