@use 'colors' as *;
@use 'mixins' as *;

.footer {
  background-color: $light-gray;
  color: $raisin-black;

  @include styled-link($blue-munsell);

  &__upper {
    padding: 1em 2em;
    border-bottom: 1px solid $page-background;
  }

  &__address-list {
    list-style: none;
  }

  &__address-line {
    color: $raisin-black;
    &--name {
      color: $firebrick;
      text-transform: uppercase;
      font-weight: 700;
      font-size: var(--bigger-text-fontsize);
    }
  }

  &__bottom {
    margin-top: 1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__list {
    order: -1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__bottom-link {
    display: inline-block;
    padding: 0.25em 0.5em;
    color: $raisin-black;
    cursor: default;

    position: relative;
    @include dynamic-underline(2px, $blue-munsell);
  }
  &__copyright {
    padding: 0.5em 1em;
  }
}
