@use 'colors' as *;
@use 'mixins' as *;

.footer {
  background-color: $light-gray;
  color: $raisin-black;

  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__list {
    order: -1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__link {
    display: inline-block;
    padding: 0.25em 0.5em;
    color: $raisin-black;
    cursor: default;

    position: relative;
    @include dynamic-underline(2px, $blue-munsell);
  }
  &__copyright {
    padding: 0.5em 1em;
  }
}
