@use 'colors' as *;

.form {
  margin-top: 1em;
  margin-bottom: 2em;

  color: $light-gray;

  display: flex;
  flex-direction: column;

  &__label {
    margin: 0.2em 0;
  }

  &__input {
    padding: 0.2em;
    border: 2px solid transparent;
    border-radius: 4px;

    &:focus {
      outline: none;
      border: 2px solid $firebrick;
    }

    &--error {
      border: 2px solid $firebrick;
      background-color: rgb(150, 150, 150);
    }
  }

  &__text-area {
    padding: 0.2em;
    max-width: 100%;
    min-width: 100%;
    min-height: 10em;
    border: 2px solid transparent;
    border-radius: 4px;

    &:focus {
      outline: none;
      border: 2px solid $firebrick;
    }
  }

  &__button {
    align-self: flex-end;
    margin: 0.5em 0;
    padding: 0.5em 1em;
    text-transform: uppercase;
    width: 100%;
    max-width: 10em;

    border: none;
    border-radius: 8px;
    background-color: $light-gray;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
    &:hover {
      background-color: $blue-munsell;
    }
  }

  &__link {
    color: $blue-munsell;

    &:active,
    &:visited {
      color: $blue-munsell;
    }
  }
}
