@use 'colors' as *;

.title {
  position: relative;
  height: calc(100vh - 2 * var(--nav-font-size));
  max-height: 1000px;

  color: $snow;

  &__header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 100%;
    padding: 0.5em 1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    flex-wrap: wrap;
    font-size: var(--title-header-fontsize);
  }

  &__span--small {
    font-size: calc(0.75 * var(--title-header-fontsize));
    font-weight: 400;
  }

  &__image {
    width: 100%;
    height: 100%;

    //change to locally hosted images outside of github
    background-image: url("https://cdn.pixabay.com/photo/2016/11/30/20/44/computer-1873831_1280.png");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    z-index: 0;

    position: relative;

    &::after {
      position: absolute;
      top: 0;
      left: 0;

      height: 100%;
      width: 100%;

      content: "";
      background-color: rgba(0, 0, 0, 0.7);
    }
  }

  &__arrow-box {
    transform: translateX(-50%);
    position: absolute;
    bottom: 1em;
    left: 50%;
    z-index: 11;
  }

  &__arrow {
    display: inline-block;
    padding: 0.5em;
    color: $snow;
    font-size: 2.8rem;
    animation: arrow-bounce 3s ease both;
  }
}

.about-us {
  color: $light-gray;
  background-color: $raisin-black;

  &__header {
    padding: 0.5em 1em;
    font-size: var(--section-header-fontsize);
    text-align: center;
  }

  &__text {
    padding: 1em 2em;
  }
}

.services {
  background-color: $light-gray;
  padding: 1em 2em;

  &__header {
    font-size: var(--section-header-fontsize);
    margin-bottom: 0.5em;
  }

  &__swiper-card {
    display: flex;
    flex-direction: column;
  }

  &__swiper {
    position: relative;
    margin-bottom: 2em;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  margin-bottom: 2em;

  text-align: center;
  font-size: var(andard-text-fontsize);
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
}

.swiper-pagination-bullet-active {
  background-color: $firebrick;
}
