@use 'colors' as *;

.mobile__menu {
  visibility: hidden;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  background-color: $light-gray;

  border-bottom: 2px solid $firebrick;

  &__burger,
  &__title {
    font-size: var(--nav-font-size);
    padding: 0.5em;
  }

  &__title {
    text-transform: uppercase;
    color: $firebrick;
  }

  &__menu {
    display: none;
    flex-direction: row;
  }

  &__item {
    padding: 1.6em 0.5em;
    //text-decoration: none;
    color: $raisin-black;

    &--contrast {
      color: $snow;
      background-color: $firebrick;
    }
  }

  &__burger {
    border: 1px solid transparent;
    cursor: pointer;
    background: none;

    &:focus {
      outline: none;
      //do something on focus
    }

    &:hover {
      .header__burger-bar {
        width: 100%;
      }
    }
  }

  &__burger-box {
    position: relative;
    width: 1.5em;
    height: 1em;
  }

  &__burger-bar {
    position: absolute;
    right: 0;
    transition: width 0.3s, background-color 0.3s;
    background-color: $firebrick;
    height: 5px;
    transform: translateY(-50%);
    // &--active {
    //   background-color: white;
    // }

    &:nth-of-type(1) {
      width: 100%;
    }

    &:nth-of-type(2) {
      width: 60%;
      top: 50%;
    }

    &:nth-of-type(3) {
      top: 100%;
      width: 30%;
      transition-delay: 0.1;
    }
  }
}
