@media (min-width: 768px) {
  .portfolio {
    display: flex;
    flex-direction: column;

    &__card {
      max-width: 768px;

      font-size: var(--bigger-text-fontsize);

      &--right {
        align-self: flex-end;
      }
    }
  }

  .offer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 1em;

    &__header {
      grid-column: 1/13;
    }

    &__card {
      padding: 1em;
      grid-column: span 6;
      &--center {
        grid-column: 4/10;
      }
    }
  }
}
