@use 'colors' as *;

.policy {
  color: $snow;
  margin: 1em;

  &__paragraph {
    margin: 0.5em 0;
  }

  &__list {
    margin-left: 1em;
    color: $light-gray;
    &--sublist {
      list-style-type: lower-alpha;
    }
  }

  &__text {
    color: $light-gray;
  }

  &__link {
    color: $blue-munsell;

    &:active,
    &:visited {
      color: $blue-munsell;
    }
  }

  &__email-link {
    color: $blue-munsell;

    &:active,
    &:visited {
      color: $blue-munsell;
    }
  }
}
