@use 'colors' as *;

.policy {
  color: $light-gray;
  padding: 1em;
  background-color: $raisin-black;

  &__header {
    font-size: var(--subpage-header-fontsize);
  }

  &__paragraph {
    margin: 0.5em 0;
    font-size: var(--standard-text-fontsize);
  }

  &__list {
    margin-left: 1em;
    &--sublist {
      list-style-type: lower-alpha;
    }
  }

  &__text {
    color: $light-gray;
    text-indent: 1em;
  }

  &__link {
    color: $blue-munsell;

    &:active,
    &:visited {
      color: $blue-munsell;
    }
  }

  &__email-link {
    color: $blue-munsell;

    &:active,
    &:visited {
      color: $blue-munsell;
    }
  }
}
