@media (min-width: 400px) {
  :root {
    --nav-fontsize: 3rem;
  }

  .header {
    &__burger-bar {
      height: 6px;
    }
  }
}

@media (min-width: 576px) {
  .header {
    &__menu {
      display: flex;
    }
    &__burger {
      display: none;
    }
  }

  .contact {
    &__box {
      display: flex;
      flex-direction: row;
    }

    &__img-box {
      max-width: 50%;
    }

    &__address-list {
      margin-top: 0;
      margin: 0 1em;
    }
  }

  .footer {
    &__bottom {
      margin: 0em 1em;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__list {
      order: unset;
      flex-direction: row;
    }
  }
}
