html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 12rem;
}

body {
  font-size: var(--standard-text-fontsize);
  font-family: "Open Sans", sans-serif;
}

button {
  font-family: inherit;
  font-size: 1em;
  font-weight: inherit;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
