@use 'colors' as *;

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 12rem;
}

body {
  font-size: var(--standard-text-fontsize);
  font-family: "Open Sans", sans-serif;
  background-color: $page-background;
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: calc(2 * var(--nav-font-size));
}

button {
  font-family: inherit;
  font-size: 1em;
  font-weight: inherit;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
